Adafruit-Blinka==9.1.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-dht==4.0.12
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
Authlib==1.7.2
binho-host-adapter==0.1.6
blinker==1.9.0
boto3==1.43.6
botocore==1.43.6
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorzero==2.0
cryptography==48.0.0
Flask==3.1.3
gpiozero==2.0.1
idna==3.14
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
joserfc==1.6.5
lgpio==0.2.2.0
MarkupSafe==3.0.3
pycparser==3.0
pyftdi==0.57.1
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyusb==1.3.1
requests==2.33.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
s3transfer==0.17.0
six==1.17.0
sysv_ipc==1.2.0
typing_extensions==4.15.0
urllib3==2.7.0
Werkzeug==3.1.8
